Auto email.json
{
  "name": "Auto email",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1472,
        128
      ],
      "id": "3c8ff515-585c-460f-864f-a2d065dbf6ee",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://www.nasa.gov/news-release/feed/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -1264,
        128
      ],
      "id": "dd654414-ba67-4f49-8408-d3a424991cf0",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "maxItems": 6
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -1056,
        128
      ],
      "id": "57fd5ca8-bc77-4dbe-9039-25662bca8af4",
      "name": "Limit"
    },
    {
      "parameters": {
        "text": "={{ $json.title }}",
        "translateTo": "hi"
      },
      "type": "n8n-nodes-base.googleTranslate",
      "typeVersion": 2,
      "position": [
        -880,
        0
      ],
      "id": "19b01ca7-28a6-4793-a114-2e5719407591",
      "name": "Translate a language",
      "credentials": {
        "googleTranslateOAuth2Api": {
          "id": "UVjnN4eEaDSB1SM9",
          "name": "Google Translate account 2"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ $json.content }}",
        "translateTo": "hi"
      },
      "type": "n8n-nodes-base.googleTranslate",
      "typeVersion": 2,
      "position": [
        -880,
        208
      ],
      "id": "2f8500e1-1a99-4899-9b07-393319f58df9",
      "name": "Translate a language1",
      "credentials": {
        "googleTranslateOAuth2Api": {
          "id": "KHFrHFGUqvTPOLk6",
          "name": "Google Translate account 3"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -640,
        128
      ],
      "id": "0e1cc0f8-a9ae-450e-8a55-9ad09f823217",
      "name": "Merge",
      "alwaysOutputData": false,
      "executeOnce": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7e12d5dc-80d5-4520-b25e-dadb8b4a3ad3",
              "name": "translatedText",
              "value": "={{ $('Translate a language').item.json.translatedText }}",
              "type": "string"
            },
            {
              "id": "38f6b6c4-de37-4302-9b35-9ebc6c17960b",
              "name": "translatedContent",
              "value": "={{ $('Translate a language1').item.json.translatedText }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -432,
        128
      ],
      "id": "b16e38d7-b668-4c5a-9208-7bdc59302f85",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -224,
        128
      ],
      "id": "05667d43-7e61-4691-ba8e-6d88f4f8ee5b",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "sendTo": "ksshah1283@eagle.fgcu.edu",
        "subject": "Daily News Summary",
        "message": "={{\n  `<div style=\"max-width: 650px; margin: 0 auto; font-family: Arial, sans-serif; background-color: #4c63d2; border-radius: 15px; overflow: hidden;\">\n    \n    <!-- Header -->\n    <div style=\"background-color: #6366f1; padding: 40px 35px; text-align: center;\">\n      <h1 style=\"margin: 0; color: white; font-size: 32px; font-weight: bold;\">\n        AI INTELLIGENCE BRIEF\n      </h1>\n      <div style=\"margin: 12px auto 0; width: 60px; height: 3px; background-color: white; border-radius: 2px;\"></div>\n      <p style=\"margin: 15px 0 0; color: white; font-size: 14px;\">\n        ${new Date().toLocaleDateString('hi-IN', { day: '2-digit', month: 'short', year: 'numeric' })} • आज का डाइजेस्ट\n      </p>\n    </div>\n    \n    <!-- Content -->\n    <div style=\"background-color: #f8fafc; padding: 15px;\">\n      ${$json.data.map((item, index) => {\n        const colors = ['#6366f1', '#ec4899', '#06b6d4', '#10b981', '#f59e0b', '#8b5cf6'];\n        const currentColor = colors[index % colors.length];\n        \n        return `<div style=\"margin: 15px 10px; background-color: white; border-radius: 15px; overflow: hidden; border: 2px solid ${currentColor};\">\n          \n          <!-- Article Header -->\n          <div style=\"height: 8px; background-color: ${currentColor};\"></div>\n          \n          <!-- Content -->\n          <div style=\"padding: 30px;\">\n            \n            <!-- Article Number -->\n            <div style=\"margin-bottom: 20px;\">\n              <span style=\"background-color: ${currentColor}; color: white; padding: 8px 16px; border-radius: 20px; font-size: 12px; font-weight: bold;\">\n                ARTICLE ${index + 1}\n              </span>\n            </div>\n            \n            <!-- Title -->\n            <h2 style=\"margin: 0 0 20px 0; font-size: 22px; font-weight: bold; color: #1f2937;\">\n              ${item.translatedText}\n            </h2>\n            \n            <!-- Content Block -->\n            <div style=\"background-color: #f9fafb; padding: 25px; border-radius: 10px; border-left: 5px solid ${currentColor};\">\n              <p style=\"margin: 0; color: #374151; line-height: 1.6; font-size: 15px;\">\n                ${item.translatedContent}\n              </p>\n            </div>\n            \n            <!-- Separator -->\n            <div style=\"margin-top: 25px; text-align: center;\">\n              <div style=\"width: 50px; height: 2px; background-color: ${currentColor}; margin: 0 auto; opacity: 0.5;\"></div>\n            </div>\n            \n          </div>\n        </div>`;\n      }).join('')}\n    </div>\n    \n    <!-- Footer -->\n    <div style=\"background-color: #1f2937; padding: 35px; text-align: center;\">\n      <div style=\"margin-bottom: 15px;\">\n        <span style=\"background-color: #6366f1; padding: 12px 24px; border-radius: 25px; color: white; font-size: 13px; font-weight: bold;\">\n          AUTOMATED INTELLIGENCE\n        </span>\n      </div>\n      <p style=\"margin: 15px 0 0; color: #9ca3af; font-size: 12px;\">\n        <strong style=\"color: white;\">Powered by</strong> n8n Workflow Automation<br/>\n        <strong style=\"color: white;\">Source</strong> Wired AI Feed • <strong style=\"color: white;\">Translation</strong> Google Translate API<br/>\n        <span style=\"color: #6366f1;\">स्वचालित समाचार वितरण सेवा</span>\n      </p>\n    </div>\n    \n  </div>`\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -16,
        128
      ],
      "id": "3ac3cbcc-32e7-4359-9fcb-064b3474c0c4",
      "name": "Send a message",
      "webhookId": "99268c4a-c9ad-42b6-88e3-23af0175fd43",
      "credentials": {
        "gmailOAuth2": {
          "id": "LLvdIPqj70qK1NqQ",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Translate a language",
            "type": "main",
            "index": 0
          },
          {
            "node": "Translate a language1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Translate a language": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Translate a language1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "8258d250-7b11-4078-87bf-ba641a7850f4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fafa3f206ec1495dee66ea42c6d47b9440d13a229b7097434b37c719b7719eb0"
  },
  "id": "SGdG1allOMnUuhJP",
  "tags": []
}
